a { color: #4B58A6; }
a:hover { color: #4B58A6; }

body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}

.frame {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.view {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.menu {
  height: 100% !important;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.menu-header {
  text-align: center;
  color: grey;
  font-size: 1.2em;
  padding: 15px;
}

.collapse-inner {
  position: relative;        
  width: 175px;
  height: 100%;
  padding-left:10px;
  padding-right:10px;
}

#map_canvas img {
  max-width: none;
  position: absolute;
  z-index: -1;
  width: 100vw;
}

#details {
/*  display: none;*/
}

#discover-options{
/*  position: absolute;
  bottom: 0px;
  z-index: 100;
  background-color: rgba(255,255,255,0.95);*/
}

#discover {
  background-color: transparent;
}

#details-content {
  padding-top: 60px;
  
}

#share-page {
  padding-top: 120px;
  text-align: center;
  display: none;
}

.photo-slide {
  padding-top: 30px;
}

.avatar {
  width: 60%;
}

.wordcloud-main {
  font-size: 18px;

}

.wordcloud-secondary {
  color: #7e5c8f;
}

.btn-search {
  background-color: #ffffff;
  color: #555555;
  border-color: #555555;
}

.btn-search:hover {
  background-color: #f7f7f7;
  border-color: #555555;
  color: #555555;
}

#search_address {
  display: none;
}
canvas {-ms-touch-action: double-tap-zoom;}

#event_list {
  position: absolute;
  z-index: 10000;
  bottom: 0px;
  width: 100vw;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#current_location {
  position: absolute;
  z-index: 10000;
  bottom: 40px;
}

#search_button {
	position: absolute;
	z-index: 10000;
	top: 0px;
	right: 0px;
}

#menu_button {
	position: absolute;
	z-index: 10000;
	top: 0px;
	left: 0px;
}

#top_bar {
  z-index: 1000;
  position: absolute;
  border-width: 0 0 0px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 0;
}

.title_bar {
	position: absolute;
	z-index: 1000;
	top:0;
	left:0;
	right:0;
	text-align: center;
	color: #000000;
}

#search_bar {
	position: absolute;
	top: 20px;
}

#back_button {
	position: absolute;
	z-index: 10000;
	top: 0px;
	left: 0px;
}

#share_button {
	position: absolute;
	z-index: 10000;
	top: 0px;
	right: 0px;
}

.event_photos {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

#results {
	display: none;
}

/*
.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }
*/
